<!DOCTYPE html>
<html>
  <head>
    {{> meta}}
    <title>{{sitename}} - {{page-title}}</title>
    <meta name="description" content="Beatriz Alonso - Personal Website">
    {{> styles}}
    <link rel="stylesheet" href="/styles/home.css" media="screen">
    {{> analytics}}
  </head>
  <body>
    {{> header}}
    <p class="download-cv">
      <a href="resources/BeatrizAlonsoResume.pdf" target="_blank">
        Download my <strong>resume</strong> in pdf!
      </a>
    </p>
    <div id="wrapper">
      {{> menu}}
      <main id="page-home">
        <h2>Home</h2>
        <div id="project-grid-wrapper">
          {{#each projects}}
          <a href="{{path}}">
            <img src="/imgs/thumbs/{{thumb}}" alt="{{title}}" />
          </a>
          {{/each}}
        </div>
      </main>
    </div>
  <!--  <footer>
      <p>
        All the images are propety of Beatriz Alonso
      </p>
    </footer>-->
  </body>
</html>
